#largePipe{
  font-size: 69;
}
#colorMeSpecial{
  color:white
}
#colorMeSpecial2{
  background:#06073f;
  color:white;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 4em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: 900;
}

dfn {
  font-style: italic;
}

mark {
  background: white;
  color: #06073f;
}

code,
kbd,
pre,
samp {
  font-family: 'Inter', sans-serif;
  font-size: 1em;
}

pre {
  word-wrap: break-word;
}

q {
  quotes: \201c \201d \2018 \2019;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,
figure {
  margin: 0;
}

legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 5px;
  border: 1px;
  padding: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.navToggle {
  z-index: 40;
  color: greenyellow;
  background: transparent;
  border: none;
  font-size: 5rem;
  position: fixed;
  padding: 5px 20px;
  border-radius: 50%;
  top: 7vh;
  right: 0vw;
  cursor: pointer;
  -webkit-transition: text-shadow 0.5s, -webkit-transform 0.5s;
  transition: text-shadow 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, text-shadow 0.5s;
  transition: transform 0.5s, text-shadow 0.5s, -webkit-transform 0.5s;
}

.navToggle:hover {
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
}

.navToggle:focus i {
  text-shadow: 0 0 16px #ffffff;
}

.turn {
  -webkit-transform: rotate(270deg) translateY(-1vw);
  transform: rotate(270deg) translateY(-1vw);
}

.turn:hover {
  -webkit-transform: rotate(270deg) translateY(-1vw) translateX(-5px);
  transform: rotate(270deg) translateY(-1vw) translateX(-5px);
}

nav {
  display: none;
  z-index: 100;
  position: fixed;
  top: 11.7vh;
  right: 18vw;
  overflow-y: hidden;
  max-height: 232px;
  background-color: #06073f;
  border: 2px solid white;
}

nav.open {
  display: block;
}

nav li {
  text-align: left;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 700;
  display: inline-block;
  width: 100%;
  text-align: left;
  padding: 7px 55px 7px 7px;
  position: relative;
}

nav a::before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 0px;
  bottom: 0;
  top: 0;
  left: 0;
  background-color: #06073f;
  -webkit-transition: width ease-in-out 0.4s;
  transition: width ease-in-out 0.4s;
}

nav a:hover::before {
  width: 100%;
}

nav a:focus {
  background: #06073f;
}

nav i {
  width: 25px;
  z-index: 5;
  text-align: left;
  color: greenyellow;
  margin: 0 10px;
}

header {
  background-color: #06073f;
  height: 100vh;
  color: white;
  text-align: center;
}

header .wrapper {
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header p {
  font-size: 1.8rem;
  margin: 0 0 10px
}
.social {
  margin: 0 0 10px
}
header p,
header a {
  font-weight: 600;
}

header .contactBtn {
  color: white;
  background: #06073f;
  border: 3px solid white;
}

header .contactBtn:hover,
header .contactBtn:focus {
  background:#06073f;
}

header .social {
  z-index: 10;
  width: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header .social a {
  color: white;
  padding:1rem;
  font-size: 3rem;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

header .social a:hover,
header .social a:focus {
  color: white;
}

h1 {
  letter-spacing: 1.2;
  margin: 0;
  z-index: 10;
  font-size: 6rem;
  color: white;
  font-family: 'Inter', sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  background: #06073f;
}

body {
  font-weight: 300;
  color: white;
  font-size: 1.8rem;
  line-height: 1.6;
  font-family: "Montserrat", sans-serif;
  font-family: 'Inter', sans-serif;
}

body,
html {
  height: 100%;
}

.skipLink {
  left: -100vw;
  position: absolute;
  color: white;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
}

.skipLink:focus {
  left: 50%;
  color: white;
}

header,
section,
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.resume,
.contactBtn {
  padding: 8px 10px;
  text-decoration: none;
  -webkit-transition: background 0.4s, color 0.4s;
  transition: background 0.4s, color 0.4s;
}

.rounded {
  border-radius: 10px;
}

.hidden {
  display: none;
}

section {
  position: relative;
 padding: 30px 0 60px 0;
}

section a {
  color:#06073f;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

section a:hover,
section a:focus {
  color: #06073f;
}

.wrapper {
  background:white;
  color:#06073f;
  width: 80vw;
  max-width: 1200px;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

h2 {
  font-size: 3rem;
  margin: 8px 0;
  font-weight: 900;
  font-family: 'Inter', sans-serif;
}
/*
h2:before {
  font-weight: 400;
  margin-right: 20px;
  font-family: 'Inter', sans-serif;
}
*/
#about {
  background-color: white;
  color:#2f0452;
}
/*
#about h2:before {
  content: "\f118";
  color:#2f0452;
}
*/
h3 {
  margin-top: 0;
}

.resume {
  left: 50%;
  padding: 15px;
  margin-top: 10px;
  position: relative;
  border: 1px solid white;
  display: inline-block;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #2f0452;
}

.resume:hover .resume:focus {
  color: white;
  background-color: #2f0452;
}

#contact {
  background-color:white;
}
/*
#contact h2:before {
  content: "\f0e0";
  color: #06073f;
}
*/
form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.oneLine {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

input,
textarea {
  border: 2px solid #06073f;
  width: 100%;
  margin: 5px 0;
  padding: 5px;
}

input#name,
textarea#name {
  border: 2px solid #06073f;
}

input#name:focus,
textarea#name:focus {
  -webkit-box-shadow: 7px 7px 15px rgba(255, 66, 66, 0.3);
  box-shadow: 7px 7px 15px rgba(255, 66, 66, 0.3);
}

input#email,
textarea#email {
  border: 2px solid #06073f;
}

input#email:focus,
textarea#email:focus {
  -webkit-box-shadow: 7px 7px 15px rgba(240, 205, 4, 0.3);
  box-shadow: 7px 7px 15px rgba(240, 205, 4, 0.3);
}

input#message,
textarea#message {
  border: 2px solid #06073f;
  height: 15vh;
}

input#message:focus,
textarea#message:focus {
  -webkit-box-shadow: 7px 7px 15px rgba(81, 84, 232, 0.3);
  box-shadow: 7px 7px 15px rgba(81, 84, 232, 0.3);
  border: 2px solid #06073f;
}

input[type="submit"],
textarea[type="submit"] {
  width: auto;
  background-color: white;
  color: #06073f;
  border: 2px solid #06073f;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}

input[type="submit"]:hover,
input[type="submit"]:focus,
textarea[type="submit"]:hover,
textarea[type="submit"]:focus {
  background-color: white;
}

footer {
  z-index: 30;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
  font-size: 1.3rem;
  position: relative;
  background: #06073f;
}

footer p {
  width: 100%;
  text-align: center;
}

@media only screen and (min-width: 400px) {
  .navToggle {
    right: 2.5vw;
  }
  nav {
    right: 90px;
  }
  
}

@media only screen and (min-height: 660px) {
  header .wrapper {
    margin-top: 10px;
  }
}

@media only screen and (min-width: 600px) {
  body {
    font-size: 1.7rem;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3rem;
  }
  header p {
    font-size: 3rem;
  }
  header .wave {
    width: 30vw;
  }
  header .wave1 {
    width: 260px;
    right: 100px;
    display: block;
  }
  header .dots {
    width: 20vw;
  }
  header .wrapper {
    position: fixed;
  }

  input {
    padding: 15px;
  }
}

@media only screen and (min-width: 800px) {
  nav {
    font-size: 2rem;
    max-height: 280px;
  }

  .oneLine {
    padding:5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  form {
    width: 80%;
    margin: 0 auto;
  }
  form #name,
  form #email {
    width: calc(50% - 5px);
    display: inline-block;
    border: 2px solid #06073f;
  }
}

@media only screen and (min-width: 1000px) {
  .navToggle {
    right: 2.5vw;
  }

  form {
    width: 70%;
  }
}
